
.board{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100vh;
  background-color: var(--color-background);
}

#boardList{
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  height: 140px;
  border-radius: 20px;
  margin-top: 3%;
}

#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  flex-direction: column;
  background-color: rgb(233, 231, 231);
  flex: 1;
  padding-bottom: 15vh;
}

#title1{
  width: 95%;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#date1{
  margin: 0 0 0 16px;
  font-weight: 100;
  font-size: 0.7rem;
}

#content1{
  width: 95%;
  flex: 1;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

#wrapper2{
  display: flex;
}

#div1{
  width: 60%;
}

#div2{
  width: 40%;
}

#div2 img{
  width: 80%;
  height: 80%;
  margin : 5%;
}

