.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
}

.container_withImg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-sizing: border-box;
}

.config{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img{
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.title{
  width: 100%;
  color: var(--color-black);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-post-title);
  font-weight: 600;
}
.time{
  color: var(--color-black);
  font-size: var(--font-size-post-time);
}
.text{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-black);
  font-size: var(--font-size-post-text);
}
