body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  height: calc(var(--vh, 1vh) * 100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}